@each $title, $value in $spacers {
    .m {
        &l-#{$title}, &x-#{$title} {
            margin-left: $value;
        }

        &r-#{$title}, &x-#{$title} {
            margin-right: $value;
        }

        &t-#{$title}, &y-#{$title} {
            margin-top: $value;
        }

        &b-#{$title}, &y-#{$title} {
            margin-bottom: $value;
        }
    }

    .p {
        &l-#{$title}, &x-#{$title} {
            padding-left: $value;
        }

        &r-#{$title}, &x-#{$title} {
            padding-right: $value;
        }

        &t-#{$title}, &y-#{$title} {
            padding-top: $value;
        }

        &b-#{$title}, &y-#{$title} {
            padding-bottom: $value;
        }
    }
}